@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

.container {
    font-family: 'Barlow', sans-serif;
}

.container__item {
    display: flex;
    justify-content: space-between;
    padding: 0 11.4583vw;
}

.home {
    height: calc(100vw/1440*700);
    background: radial-gradient(837.78% 378.29% at 69.44% -79.86%, rgba(31, 35, 39, 0) 0%, #191C1F 47.89%, rgba(31, 35, 39, 0) 100%), url(../img/homeImage.svg);
    background-size: contain;
    flex-direction: column;
    justify-content: start;
}

.logo {
    width: 9.9306vw;
    height: calc(100vw/1440*28);
}

.home__logo {
    margin-top: calc(100vw/1440*30);
    margin-bottom: calc(100vw/1440*125);
}

.overline {
    font-weight: 700;
    font-size: calc(100vw/1440*16);
    line-height: calc(100vw/1440*20);
    text-transform: uppercase;
    color: #fff;
    margin-bottom: calc(100vw/1440*5);
}

.home__overline {
    font-size: calc(100vw/1440*18);
}

.title {
    width: 28.125vw;
    font-weight: 700;
    font-size: calc(100vw/1440*36);
    line-height: calc(100vw/1440*40);
    text-transform: uppercase;
    color: #fff;
    margin-bottom: calc(100vw/1440*10);
}

.home__title {
    width: 51.806vw;
    font-size: calc(100vw/1440*64);
    line-height: calc(100vw/1440*75);
}

.description {
    width: 51.806vw;
    font-weight: 400;
    font-size: calc(100vw/1440*24);
    line-height: calc(100vw/1440*30);
    color: #fff;
    margin-bottom: calc(100vw/1440*30);
}

.btn {
    width: 19.9306vw;
    display: flex;
    flex-direction: row;
    background: #E11B19;
    border-radius: calc(100vw/1440*40);
    justify-content: center;
    align-items: center;
    padding: calc(100vw/1440*20);
    gap: calc(100vw/1440*15);
}

.btn__text {
    font-weight: 700;
    font-size: calc(100vw/1440*16);
    line-height: calc(100vw/1440*20);
    text-transform: uppercase;
    white-space: nowrap;
    color: #fff;
}

.btn__arrow {
    width: 1.39vw;
    height: calc(100vw/1440*20);
}

.benefits {
    height: calc(100vw/1440*200);
    background: #191C1F;
    align-items: center;
}

.benefits__title {
    width: 17.2917vw;
}

.benefit {
    display: flex;
    width: 17.8472vw;
}

.benefit__icon {
    width: 2.78vw;
    margin-right: 1.39vw;
}

.benefit__title {
    width: 13.472vw;
}

.benefit__text {
    font-weight: 700;
    font-size: calc(100vw/1440*24);
    line-height: calc(100vw/1440*30);
    text-transform: uppercase;
    color: #fff;
}

.facilities {
    height: calc(100vw/1440*600);
    background: #1F2327;
    padding-top: calc(100vw/1440*180);
}

.image {
    width: 37.5vw;
    height: calc(100vw/1440*360);
}

.about {
    width: 30.7639vw;
    height: calc(100vw/1440*360);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checklist {
    margin-top: calc(100vw/1440*15);
}

.checklist__item {
    display: flex;
    align-items: center;
}

.check-mark {
    margin-right: calc(100vw/1440*15);
    width: 1.67vw;
    height: calc(100vw/1440*24);
}

.leader {
    height: calc(100vw/1440*600);
    background: #191C1F;
    padding-top: calc(100vw/1440*180);
}

.leader__text {
    width: 28.125vw;
    font-weight: 400;
    font-size: calc(100vw/1440*18);
    line-height: calc(100vw/1440*25);
    color: #fff;
}